@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');


body {
    background-color:#06D6A0;
    color: #F8FFE5;
    font-family: Heebo;
}

#humanScoreDisp {
    color: green;
}

#compScoreDisp {
    color: red;
}

#main-page {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

#roundResult  {
    text-align: center;
    position: relative;
    bottom: 50px;
}

#game-info {
    text-align: center;
}

#rock, #paper, #scissors {
    border-radius: 20%;
    box-shadow:  0px 10px 15px 0px black;
    background-color: #1B9AAA;
 
}

#rock:hover, #paper:hover, #scissors:hover {
    transition: box-shadow 0s linear;
    box-shadow: 0px 0px 0px 0px black;
    transform: scale(0.98);
}

#buttons {
    display: flex;
    justify-content: space-around;
    
}

#rock, #paper, #scissors {
    cursor: pointer;
}

#scores {
    display: flex;
    justify-content: space-between;
    height: 20vh;
}

#humanScoreDisp, #compScoreDisp {
    text-align: center;
    font-size: 40px;
}

