@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');


@media screen and (max-width: 800px){
    #scores {
        font-size: 3vw !important;
        margin-bottom: 0 !important;
    }

    #roundResult{
        font-size: 1.5em!important;
        align-self: center !important
    }

    #rock, #paper, #scissors {
        width: 20vw !important;
        
    }

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(-45deg, #06D6A0, #05B384, #048B67);
    background-size: 400% 400%;
    color: #F8FFE5;
    font-family: Heebo;
    font-size: 1.5em;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


#scores {
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 3em;
}

#humanScoreDisp {
    color: green;
}

#compScoreDisp {
    color: red;
}

#main-page {
    display: flex;
    flex-direction: column;
    }

#roundResult  {
    position: absolute;
    align-self: flex-end;
    font-size: 1em;
    text-align: center;
}


#rock, #paper, #scissors {
    border-radius: 20%;
    width: 15vw;
    box-shadow:  0px 10px 10px 0px black;
    background-color: #FFC43D ;
 
}

#rock:hover, #paper:hover, #scissors:hover {
    transition: box-shadow  linear;
    box-shadow: 0px 0px 0px 0px black;
    transform: scale(0.98);
}

#buttons {
    display: flex;
    justify-content: space-around;
    
}

#rock, #paper, #scissors {
    cursor: pointer;
}