body {
    background-color: lightblue;
}

#roundResult {
    text-align: center;
}

#main-page {
height: 50vw;
display: flex;
flex-direction: column;
justify-content: center;
}

#buttons {
    display: flex;
    justify-content: space-around;
    
}
#rock, #paper, #scissors {
    cursor: pointer;
}